{{define "location.url" -}}
{{.externalEntityId}}.html
{{- end}}
{{define "location.source" -}}
<html>
    <body>
    <div>{{template "header"}}</div>
        <h1> Sites Performance Testing </h1>
        
        <h2> Data </h2> 

        <p> <strong>Name:</strong> {{.name}} </p>
        
        <p>Address: 
         {{ range $key, $value := .address }}
           <li><strong>{{ $key }}</strong>: {{ $value }}</li>
        {{ end }} </p>
        <p>Hours: 
          {{ range $key, $value := .hours }}
               <li><strong>{{ $key }}</strong>: {{ $value }}</li>
          {{ end }}
        </p>
        <p> <strong> Description: </strong> {{.description}} </p>
        <p> <strong> Phone: </strong> {{.mainPhone}} </p>
        <p> <strong> Alternate Phone: </strong>{{.alternatePhone}} </p>
        <p> <strong> Geomodifier: </strong> {{.geomodifier}} </p>        
        <p> <strong> Emails: </strong> {{.emails}} </p>
        <p> <strong> Fax: </strong> {{.fax}} </p>
        <p> <strong> Featured Message: </strong> {{.featuredMessage}} </p>
        <p> <strong> Photo Gallery: </strong> {{.photoGallery}} </p>
        <p> <strong> Geocoordinates: </strong> {{.geocodedCoordinate}} </p>
        <p> <strong> Region Code: </strong> {{.isoRegionCode}} </p>        
        <p> <strong> Local Phone: </strong> {{.localPhone}} </p>               
        <p> <strong> Menu Phone: </strong> {{.menuUrl}} </p>        
        <p> <strong> Mobile Phone: </strong> {{.mobilePhone}} </p>        
        <p> <strong> Order URL: </strong> {{.orderUrl}} </p>        
        <p> <strong> Payment Options: </strong> {{.paymentOptions}} </p>
        <p> <strong> Price Range: </strong> {{.priceRange}} </p>
        <p> <strong> Products: </strong> {{.products}} </p>
        <p> <strong> Reservation URL: </strong> {{.reservationUrl}} </p>
        <p> <strong> Services: </strong> {{.services}} </p>
        <p> <strong> Timezone: </strong> {{.timezone}} </p>
        <p> <strong> Toll Free Phone: </strong> {{.tollFreePhone}} </p>
        <p> <strong> Website URL: </strong> {{.websiteUrl}} </p>
        <p> <strong> Year Established: </strong> {{.yearEstablished}} </p>
        <p> <strong> Yext Display Coordinates: </strong> {{.yextDisplayCoordinate}} </p>
        <p> <strong> Yext Routable Coordinates: </strong> {{.yextRoutableCoordinate}} </p>
        <p> <strong> Custom Field 1: </strong> {{.c_customField1}} </p>
        <p> <strong> Custom Field 2: </strong> {{.c_customField2}} </p>
        <p> <strong> Custom Field 3: </strong> {{.c_customField3}} </p>
        <p> <strong> Custom Field 4: </strong> {{.c_customField4}} </p>        
        <p> <strong> Custom Field 5: </strong> {{.c_customField5}} </p>
        
    </body>
</html>
{{end}}
